<h1>New "<%= @challenge.activity_type%>" challenge!</h1>

<p>We are happy to see that you created a new challenge called "<%= @challenge.name %>"! </p>

<p>You have till <%= @challenge.end_date.strftime("%B %-d, %Y") %> to complete it, otherwise you will loose <%= price_in_euros(@challenge.price_cents) %>€! </p>

<p>KeepRunning and get your money back! Don't hesitate to invite your friends and challenge them on our app! </p>
