<h1>New "<%= @challenge.activity_type%>" challenge!</h1>

<p>We are happy to see that you created a new challenge called "<%= @challenge.name %>"! </p>

<p>You have till <%= @challenge.end_date.strftime("%B %-d, %Y") %> to complete it, otherwise you will loose <%= price_in_euros(@challenge.price_cents) %>€ <i class="fa-regular fa-face-dizzy"></i>! </p>

<p>KeepRunning <i class="fa-solid fa-person-running"></i> and get your money back! </p>

<p> Invite your friends and challenge them on our app! </p>
