<h1>Welcome to Keep Running <%= @user.profile.first_name %>!</h1>

<p>Thank you for signing up. We're glad you joined us!</p>

<p>Create a new challenge and bet on your success!</p>

<p>Invite your friends and KeepRunning together <i class="fa-solid fa-person-running"></i>!</p>

<p>See you soon!</p>
