// #all-tab {
//   color: $krorange !important;
// }

// #running-tab {
//   color: $krorange !important;
// }

// #cycling-tab {
//   color: $krorange !important;
// }

.activities-scrolling {
  overflow:scroll;
  height:500px;
  // scrollbar hide
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.activities-scrolling::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
