.challenge-showpage {
  // background-color: $krblack;
  margin: 0 20px;
}

.challenge-card {
  background-color: $krblack;
  // border: 2px solid $kryellow;
  border-radius: 10px;
  flex-grow: 1;
  padding: 0px 20px;
  align-content: center;
  vertical-align: middle;

  h1, h6 {
    color:white;
  }
  h1 {
    font-weight: 900;
  }
}


.latest-activities-card-show {
  background-color: $krblack;
  border-radius: 10px;
  flex-grow: 1;
  padding: 20px;
  margin: 0 0px;
  th, td {
    color:white;
    font-size: 12px;
    font-weight: 300;
  }

  h6 {
    color: $kryellow;
  }

}
