.challenge-showpage {
  // background-color: $krblack;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.challenge-card {
  background-color: $krblack;
  // border: 2px solid $kryellow;
  border-radius: 10px;
  // flex-grow: 1;
  padding: 0 1.25rem;
  align-content: center;
  vertical-align: middle;

  h1, h6 {
    color:white;
  }
  h1 {
    font-weight: 900;
  }
}


.latest-activities-card-show {
  background-color: $krblack;
  border-radius: 10px;
  // flex-grow: 1;
  padding: 1.25rem;
  margin: 0 0px;
  th, td {
    color:white;
    font-size: 0.75rem;
    font-weight: 300;
  }

  h6 {
    color: $kryellow;
  }

}
