  .btn {
    background-color:#FC4C02;
    color:white
  }
    .btn:focus {
      background-color: #FC4C02;
      color:white
    }

  .form_input{
  background-color:black;
  color:white;
  border-color: #FEFF00;
  border-radius: 5px;
  }
    .form_input:focus {
      background-color: black;
      color: white;
      border-color: #FEFF00;
      border-radius: 5px;
    }
