// .container{
//   padding: 10px 30px;
// }
// .activities {

// }

// .activity {

// }

.activity-image {
  width: 100%;
  height: 30vh;
  object-fit: cover
}
.btn {
  background-color:#FC4C02;
  color:white;
  border: none;
  border-radius:5px;
  width:100%;
}
  .btn:focus {
    background-color: #FC4C02;
    color:white
  }

.form_input{
background-color:black;
color:white;
border-color: #FEFF00;
border-radius: 5px;
}
.form_input:focus {
  background-color: black;
  color: white;
  border-color: $krgreen;
  border-radius: 5px;
}

.border-yellow {
  border-radius: 5px;
  border:4px solid #FEFF00;
  margin:15px 0;
}

.toggle {
  // background-color: $info;
  border-radius: 5px;
  border:4px solid $krgreen;
  margin: 15px 0;
}

.supertitle-gradient {
  text-transform: uppercase;
  font-size: bold !important;
  line-height: 0.9;
  font: {
    size: 32px;
    text-shadow: $kryellow 1px 0 10px;
   };
  // Gradient text CSS
  background: linear-gradient(to right, $krgreen, $krblack);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
