.scrolling-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1.25rem 0;

  .scroll-card {
    flex: 0 0 auto;
    width: 300px;
    aspect-ratio: 6 / 3;
    margin-left: 1.25rem;
    background-color: white;
    // border: 2px solid $kryellow;
    border-radius: 10px;
  }

  .scroll-card-full {
    // flex: 0 0 auto;
    width: 100% !important;
    aspect-ratio: 7 / 3;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    // margin-right: 1.25rem;
    background-color: white;
    // border: 2px solid $kryellow;
    border-radius: 10px;
  }
}

.scroll-card {
  border-radius: 10px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-card-title {
  background-color: rgba(0,0,0,1) !important;
  opacity: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;

  h6 {
    color: white;
    text-align: left;
    padding: 5px;
    margin-bottom: 0rem;
  }
}


.scroll-card-info {
  padding: 10px;
  height: 100%;
  p {
    margin: 0;
    font-size: 12px;
  }
}

.flex-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.kilometer-card {
  background-color: $krblack;
  border: 1px solid $kryellow;
  max-width: 50%;
  border-radius: 10px;
  // flex-grow: 1;
  padding: 0 1.25rem;
  vertical-align: middle;

  h1, h6 {
    color:white;
  }
  h1 {
    font-weight: 900;
  }
}
.challenge-count-card {
  background-color: white;
  margin-right: 1.25rem;
  border: 2px solid $kryellow;
  border-radius: 10px;
  // aspect-ratio: 1 / 1;
  padding: 0px 1.25rem;
  align-content: center;
  h1, h6 {
    text-align: center;
  }
  h1 {
    font-weight: 900;
  }
}

.latest-activities-card {
  background-color: $krblack;
  border-radius: 10px;
  // flex-grow: 1;
  padding: 1.25rem;
  margin: 0 1.25rem;
  th, td {
    color:white;
    font-size: 0.75rem;
    font-weight: 300;
  }

  h6 {
    color: $kryellow;
  }

}

.progress-bar, .progress {
  border-radius: 10px;
  p {
    text-align: right;
  }
}

.challenge-details {
  display:flex;
  align-items: stretch;

  .badge {
    color: $kryellow;
    background-color: $krblack;
    border-radius: 5px;
  }

}

.challenge-detail-block {
  width: 50%;
  padding: .5rem;
}

.bg-green {
  background-color: $krgreen;
}

.link {
  text-decoration: none !important;
  color: #222222;
}

.link:active {
  text-decoration: none !important;
  color: #222222;
}

// CARD FOR FIRST CHALLENGE

.new-challenge-card {
  border-radius: 10px;
  background-color: aquamarine;
  aspect-ratio: 2 / 1;
  width: 100%;
  margin: 0px 1.25rem;
}

._card{
  padding:1.5em;
  border: none;
  transition: all 0.5s ease-in-out;
  &:hover{
    transform:translateZ(1000px);
  }
  background: linear-gradient(to bottom right, $kryellow, $krgreen);
  ._card-icon{
    display:flex;
    color:$krblack;
    justify-content:center;
    align-items:center;
    padding:0.2em;
    font-size:100px;
  }
  ._card-body{
    padding-bottom:1em;
    align-items: center;
    ._card-heading{
      font-size:1.6em;
      font-weight:bold;
      font-family:sans-serif;
      letter-spacing: -8%;
      color:$krblack;
      opacity:1;
    }
    ._card-text{
      display:block;
      color: $krblack;
      opacity:1;
      text-align:center;
    }
    ._card-input{
      margin-top:15px;
      background:none;
      margin-bottom:17px;
      font-size:1em;
      color:snow;
    }
    ._card-button{
      color:snow;
      font-family:sans-serif;
      font-weight:500;
      letter-spacing: -8%;
      font-size:0.9em;
      &:hover{
        color:black;
      }
    }
  }
}

// Scrollbar

.dashboard-scrolling {
  overflow: scroll;
  height: 200px;
   // scrollbar hide
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */
}

.dashboard-scrolling::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
