.challenge-btn {
  background-color:#FC4C02;
  color:white;
  border: none;
  border-radius: .5rem;
  width: 100%;
  max-width: 25rem;
}

.challenge-btn:hover {
  background-color: #fc4d02d1;
  color: white;
}
