.email-input {
  background-color:black;
  color:white;
  border-color: #FEFF00;
  border-radius: 5px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  min-width: 24rem;
  white-space: normal;
  text-align: center;
  padding: 17px 48px;
  height: 48px;
  margin-bottom: 4px;
}

.email-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 24rem;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  margin-bottom: 5px;
  color: #fff;
  background-color: $krgreen;
  height: 48px;
  :hover{
      transform: scale(1.04);
      background-color: #21e065;
  }
}

@media screen and (max-width: 991px) {
  .email-button {
    min-width: 10rem;
  }
}
