.top-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;


  h6, p {
    text-align: center;
    margin: 0;
  }
  p {
    font-size: 12px;
  }
}

.top-flex-items:nth-child(1) {
  padding-right: 5px;
  width: 100px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.top-flex-items:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
  width: 130px;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.top-flex-items:nth-child(3) {
  padding-left: 5px;
  width: 100px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.top3-avatar {
  border: 2px solid $kryellow;
}

.top1-avatar {
  border: 4px solid $krgreen;
}


.leaderboard-avatar-mini {
  width: 40px;
}


.leaderboard-card-show {

  background-color: $krblack;
  border-radius: 10px;
  flex-grow: 1;
  padding: 20px;
  margin: 0 20px;
  th, td {
    color:white;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
  }

  h6 {
    color: $kryellow;
  }
}

.leaderboard-scrolling {
  overflow:scroll; height:350px;
  // scrollbar hide
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.leaderboard-scrolling::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

// TEXT GRADIENT PART


.gradient-text {
  /* Fallback: Set a background color. */
  background-color: $krorange;
  font-weight: 900;

  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #c64b16ae 16.666%,
        #db571fea 16.666%,
        #FC4C02 33.333%,
        #bcb901 33.333%,
        #d8d81d 50%,
        #00c785d0 50%,
        #00C784 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #000000 83.333%);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
