.stravalogin {
  height: 75px !important;
  width: 300px !important;
  background-color: transparent !important;
  background-size: cover;
  border: none;
  background-image: image-url("btn_strava_connectwith_orange@2x.png") !important;
}


.tiger-image {
  max-width: 40%;
  height: auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: $krgreen !important;
}

@media screen and (max-width: 991px) {
  .tiger-image {
    max-width: 100%;
    height: auto;
  }
}
