.stravalogin {
  height: 48px !important;
  width: 193px !important;
  background-color: transparent !important;
  background-size: cover;
  border: none;
  background-image: image-url("btn_strava_connectwith_orange@2x.png") !important;
}
