.navbar-lewagon {
  justify-content: space-between;
  background: $krblack;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}


.custom-toggler .navbar-toggler {
  border-color: rgb(76, 231, 76);
}
