.profile-button {
  // display: flex;
  // justify-content: end;
  // align-items: flex-end;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  border-radius: 31.25rem;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: $krorange;
  height: 48px;
}

.profile-button:link{
  // transform: scale(1.04);
  color: lightgrey;
  background-color: $orange;
  text-decoration: none;
}

button.strava-profile-button {
  font-family: 'Manrope', sans-serif;
}
